  <!-- Navigation -->
  <nav class="nav{{#if navLight}} nav--light{{/if}}" id="nav">
    <div class="nav__inner">
      <a href="index.html" class="nav__logo">Davis<span>/Macleod</span></a>
      <div class="nav__links" id="navLinks">
        <a href="index.html" class="nav__link{{#if (eq activePage 'index')}} nav__link--active{{/if}}">Home</a>
        <a href="portfolio.html" class="nav__link{{#if (eq activePage 'portfolio')}} nav__link--active{{/if}}">Portfolio</a>
        <a href="about.html" class="nav__link{{#if (eq activePage 'about')}} nav__link--active{{/if}}">About</a>
        <a href="contact.html" class="nav__link{{#if (eq activePage 'contact')}} nav__link--active{{/if}}">Contact</a>
        <a href="login.html" class="nav__link nav__link--cta{{#if (eq activePage 'login')}} nav__link--active{{/if}}">Login</a>
      </div>
      <button class="nav__toggle" id="navToggle" aria-label="Toggle menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </nav>