      <div class="stats fade-up">
        {{#each stats}}
        <div class="stat">
          <div class="stat__number">{{this.Number}}</div>
          <div class="stat__label">{{this.Label}}</div>
        </div>
        {{/each}}
      </div>